<div class="banner-green">
  <div class="container px-4 fade-in-right">
    <h1>University Programmes for <%= @career.name.titleize %>s</h1>
    <%= cl_image_tag @career.photo.key %>
  </div>
</div>
<div class="container">
  <div
  class="accordions"
  data-controller="accordion"
>
    <% @programmes.each do |program| %>
      <div
      class="accordion-card py-4 position-relative
      <%= " rounded-top" if program == @programmes.first %>
      <%= " rounded-bottom" if program == @programmes.last %>"
      data-accordion-target="program"
      data-controller="shortlist"
    >
        <% if program.shortlisted?(current_user) %>
          <%= render 'pathways/unshortlist', pathway: program.shortlisted_pathway(current_user), career: @career %>
        <% else %>
          <%= render 'pathways/form', program: program, career_id: @career.id %>
        <% end %>
        <div class="accordion-card-headers d-block" data-action="click->accordion#expand">
          <h2 class="mb-0"><%= program.name %></h2>
          <%= image_tag("#{programme.photo}") %>
          <p>@ <%= program.university.titleize %></p>
        </div>
        <div class="panel mt-3">
          <div class="panel-summary">
            <p><%= program.summary %></p>
          </div>
          <div class="panel-button">
            <%= render partial: "shared/programme_modal", locals: { programme: program } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="navigation-buttons">
    <%= link_to "Back", careers_path, class: "btn rounded-pill btn-primary" %>
    <%= link_to "Compare Pathways", pathways_path, class: "btn rounded-pill btn-danger" %>
  </div>
