<h2 class='bg-primary text-dark text-center py-3 fw-bold'>Your Careers</h2>
<div class="wrapper mb-2">

  <div class="container d-flex" data-controller="careers-index">
    <div class="wrap-left">
      <div class="graph">
        <div data-careers-index-target="graph" id="graph"></div>
      </div>

      <div class="navigation-buttons d-none mt-3">
        <%= link_to "Back", edit_user_path(@user), class: "btn rounded-pill btn-primary" %>
      </div>

    </div>

    <div class="wrap-right">
      <div class="accordions career-accordion row">
        <% @careers.each do |career| %>
          <div class="accordion-card py-4
          <%= "rounded-top" if career == @careers.first %>
          <%= "rounded-bottom" if career == @careers.last %>"
          data-careers-index-target="item"
          data-action="click->careers-index#expand mouseenter->careers-index#highlightNodes">
            <div class="accordion-card-headers">
              <h2 class="mb-0 fw-normal fs-5"><%= career.name.titleize %></h2>
            </div>
            <div class="panel">
              <div class="panel-summary careers-overview">
                <p><%= career.summary %></p>
              </div>
              <div class="panel-button d-flex">
                <%= render partial: "shared/career_modal", locals: { career: career } %>
                <%= link_to "View Programmes", career_programmes_path(career), class: "ms-3 btn btn-warning text-white", data: { careers_index_target: "link" } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>

  </div>

</div>
