<h2 class='bg-primary text-dark text-center py-3 fw-bold'>Your Careers</h2>
<div class="wrapper mb-2">

  <div class="container d-flex" data-controller="careers-index">
    <div class="wrap-left">
      <div class="graph">
        <div data-careers-index-target="graph" id="graph"></div>
      </div>

      <div class="navigation-buttons mt-3">
        <%= link_to "Back", edit_user_path(@user), class: "btn rounded-pill btn-primary" %>
      </div>

    </div>

    <div class="wrap-right">
      <div class="accordions career-accordion row">
        <% @careers.each do |career| %>
          <div class="accordion-card inactive py-4 <%= "rounded-top" if career == @careers.first %> <%= "rounded-bottom" if career == @careers.last %>" data-careers-index-target="item" data-action="click->careers-index#expand mouseenter->careers-index#highlightNodes mouseleave->careers-index#exitZoom">
            <div class="accordion-card-headers">
              <h2 class="mb-0"><%= career.name.titleize %></h2>
              <%= link_to "View University Programmes", career_programmes_path(career), class: "btn btn-warning" %>
            </div>
            <div class="panel">
              <div class="panel-summary">
                <p><%= career.summary %></p>
              </div>
              <div class="panel-button">
                <%= render partial: "shared/career_modal", locals: { career: career } %>
                <%= link_to "View University Programmes", career_programmes_path(career), class: "hidden btn btn-warning" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>

  </div>

</div>
