<h2 class='teal-header bg-primary text-white text-center fw-bold p-3'>Tell us about yourself</h2>

<div class="container">
  <%= simple_form_for(@user) do |f| %>

    <%# first page %>
    <div class="d-flex text-primary align-items-center justify-content-center my-4">
      <i class="fa-solid fa-circle text-warning"></i>
      <div class="line"></div>
      <i class="fa-solid fa-circle"></i>
      <div class="line"></div>
      <i class="fa-solid fa-circle"></i>
    </div>

    <%= f.input :occupation,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: User::CATEGORIES %>

    <div class="d-flex justify-content-center my-5">
      <div class="btn btn-primary rounded-pill text-white px-4">Next</div>
    </div>
    <%# end of first page %>

    <%# second page %>
    <div class="d-flex text-primary align-items-center justify-content-center my-4">
      <i class="fa-solid fa-circle text-warning"></i>
      <div class="line line-active"></div>
      <i class="fa-solid fa-circle text-warning"></i>
      <div class="line"></div>
      <i class="fa-solid fa-circle"></i>
    </div>

    <%= f.input :first_name, label: "First name:" %>
    <%= f.input :last_name, label: "Last name:" %>

    <div class="btn btn-primary rounded-pill text-white px-4">Next</div>
    <%# end of second paage %>

    <%# third page %>
    <div class="d-flex text-primary align-items-center justify-content-center my-4">
      <i class="fa-solid fa-circle text-warning"></i>
      <div class="line line-active"></div>
      <i class="fa-solid fa-circle text-warning"></i>
      <div class="line line-active"></div>
      <i class="fa-solid fa-circle text-warning"></i>
    </div>

    <%= f.association :subjects,
                  as: :check_boxes,
                  label: "What subjects have you studied?",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
    <%= f.association :soft_skills,
                  as: :check_boxes,
                  label: "What soft skills do you possess?",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>

      <%= f.submit "Show my options", class: "btn btn-danger rounded-pill text-white" %>
      <%# end of third page %>
    <% end %>
  </div>
