<!-- Parent controller -->
<div data-controller="modal">
  <!-- Trigger -->
  <div class="btn btn-primary" data-action="click->modal#showModal">More Information</div>
  <!-- Modal Wrapper -->
  <div class="modal-wrapper" data-modal-target="popup">
    <!-- Close Btn -->
    <i class="fa fa-times fa-2x" data-action="click->modal#hideModal"></i>
    <!-- Content -->
    <div class="container">
      <div class="modal-content">
        <div class="container">
          <div class="modal-content-header with-graph">
            <!--- former image
            <div class="header-img">
              <%= cl_image_tag career.photo.key %>
            </div>
            --->
            <div class="details-graph">
              <div data-modal-target="details" id="graph"></div>
            </div>

            <div class="banner-green with-graph">
              <h3 data-modal-target="career"><strong><%= career.name.titleize %></strong></h3>
              <p><%= career.summary %></p>
            </div>
          </div>
          <div class="item rounded-top">
            <h4>General Responsibilities</h4>
            <p><%= career.responsibilities %></p>
          </div>
          <div class="item">
            <h4>Career Progression</h4>
            <p><%= career.progression %></p>
          </div>
          <div class="item rounded-bottom">
            <h4>Education Requirements</h4>
            <p><%= career.education %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
