<!-- Parent controller -->
<div data-controller="modal">
  <!-- Trigger -->
  <div class="btn btn-primary" data-action="click->modal#showModal">More Information</div>
  <!-- Modal Wrapper -->
  <div class="modal-wrapper" data-modal-target="popup">
    <!-- Close Btn -->
    <i class="fa fa-times fa-2x" data-action="click->modal#hideModal"></i>
    <!-- Content -->
    <div class="container">
      <div class="modal-content">
          <h2>More Information</h2>
        <div class="container">
          <div class="modal-content-header">
            <div class="header-img">
              <%= cl_image_tag career.photo.key %>
            </div>
            <div class="banner-green">
              <h3><strong><%= career.name.titleize %></strong></h3>
              <p><%= career.summary %></p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="item">
            <h4 class="fw-bold">General responsibilities</h4>
            <p><%= career.responsibilities %></p>
          </div>
          <div class="item">
            <h4 class="fw-bold">Career Progression</h4>
            <p><%= career.progression %></p>
          </div>
          <div class="item mb-3">
            <h4 class="fw-bold">Education Requirements</h4>
            <p><%= career.education %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
