<!-- Parent controller -->
<div data-controller="modal">
  <!-- Trigger -->
  <div class="btn btn-primary" data-action="click->modal#showModal">show modal</div>
  <!-- Modal Wrapper -->
  <div class="modal-wrapper" data-modal-target="popup">
    <!-- Close Btn -->
    <i class="fa fa-times fa-2x" data-action="click->modal#hideModal"></i>
    <!-- Content -->
    <div class="container">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <h2 class="text-center">More Information</h2>
            <div class="col-4">
              <p>testing</p>
            </div>
            <div class="col-8 teal-background">
              <h3><%= career.name.capitalize %></h3>
              <p><%= career.summary %></p>
            </div>
          </div>
          <div class="border-bottom">
            <h5>General responsibilities</h5>
            <p><%= career.responsibilities %></p>
          </div>
          <div class="border-bottom">
            <h5>Career Progression</h5>
            <p><%= career.progression %></p>
          </div>
          <div class="border-bottom">
            <h5>Education Requirements</h5>
            <p><%= career.education %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
