<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h4 class="text-warning d-flex fs-5">
        <i class="fa-solid fa-compass"></i>
        <span class="text-primary">My</span>
        <span class="text-danger fw-bold">Pathways</span>Future
      </h4>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item d-flex">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link border-end" %>
            <%= link_to "Compare Pathways", pathways_path, class: "btn btn-danger rounded-pill ms-2 text-white" %>
          </li>
        <% else %>
          <li class="nav-item d-flex">
            <%= link_to "Login", new_user_session_path, class: "nav-link border-end" %>
            <%= link_to "Find Your Path", new_user_session_path, class: "btn btn-danger rounded-pill ms-2 text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
