<!-- Parent controller -->
<div data-controller="modal">
  <!-- Trigger -->
  <div class="btn btn-primary" data-action="click->modal#showModal">
    More Information
  </div>
  <!-- Modal Wrapper -->
  <div class="modal-wrapper" data-modal-target="popup">
    <!-- Close Btn -->
    <i class="fa fa-times fa-2x" data-action="click->modal#hideModal"></i>
    <!-- Content -->
    <div class="container">
      <div class="modal-content">
        <h2>More Information</h2>
        <div class="banner-green">
          <div class="container d-block">
            <h3><%= programme.name %></h3>
            <p>@ <%= programme.university %></p>
          </div>
        </div>

        <div class="container"
          data-controller="read-more"
        >
          <div class="item">
            <h4>Overview</h4>
            <p>
              <%= programme.short_overview %>
              <span id="dots"
                class='active'
                data-read-more-target="triggerMore"
              >
                ...
                <a href=""
                 data-action="click->read-more#readMore"
                >
                  Read More
                </a>
              </span>

              <span id="more"
                data-read-more-target="triggerLess">
                <%= programme.omitted_overview %>
                <span id="read-less">
                  <a href=""
                  data-action="click->read-more#readLess"
                  >
                    Read Less
                  </a>
                </span>
              </span>
            </p>

          </div>
          <div class="item">
            <h4 class="fw-bold">Programme Duration</h4>
            <p><%= programme.duration %> Years</p>
          </div>
          <div class="item">
            <h4 class="fw-bold">Tuition Fees</h4>
            <p>S$<%= programme.tuition_fees %></p>
          </div>
          <div class="item">
            <h4 class="fw-bold">University World Ranking</h4>
            <p><%= programme.rating %></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
