<div class="beige-background h-100">
  <div class="container px-5">
    <h1 class="pt-4 pb-2 px-4 ms-4">Hi Manu!</h1>
    <div class="d-flex">
      <%# ================== LEFT SECTION STARTS HERE ================== %>
      <div class="col mx-4">
        <div class="h-auto p-4 pt-2 mb-4 bg-white rounded shadow border-top border-primary border-5">
          <h2>Your selected pathway</h2>
          <hr class="m-0 mb-2">
          <p class="m-0">You have chosen to pursue</p>
          <h3 class="mb-3 fs-5">Software Engineering</h3>
          <p class="m-0">as a career, by following the pathway</p>
          <h3 class="mb-3 fs-5">Bachelor of Engineering in Computer Science</h3>
          <p class="m-0">offered by</p>
          <%= image_tag("NTU_Logo.png", class: "card-dashboard-pathway-image") %>

        </div>
        <div class="h-auto p-4 pt-2 mb-4 bg-white rounded shadow border-top border-primary border-5">
          <h2>Application deadline</h2>
        </div>
        <div class="h-auto p-4 mb-4 bg-warning rounded shadow">
          <h2 class="text-white text-center" >Ready to apply?</h2>
          <p class="text-white text-center m-0" >Click here to go to the application page</p>
        </div>
      </div>
      <%# ================== LEFT SECTION ENDS HERE ================== %>

      <%# ================== RIGHT SECTION STARTS HERE ================== %>
      <div class="col mx-4">
        <%# ================== CALENDAR STARTS HERE ================== %>
        <div class="calendar h-auto p-4 py-2 mb-4 bg-white rounded shadow border-top border-primary border-5">
          <h2>Calendar of events</h2>
          <hr class="m-0 mb-2">
          <div class="d-flex">
            <div>
              <%= month_calendar(events: @events) do |date, events| %>
                <%= date.day %>
                <% events.each do |e| %>
                  <div class="event">

                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="ps-4 w-100">
              <p class="fw-bold m-0">Events</p>
              <hr class="m-0 my-1 w-50">
              <p class="m-0"><span class="event-color-code-purple"> </span> A-level results</p>
              <p class="m-0"><span class="event-color-code-teal"> </span> Letters of recommendation</p>
              <p class="m-0"><span class="event-color-code-pink"> </span> Application deadline</p>
              <p></p>
              <p></p>
            </div>
          </div>
        </div>
        <%# ================== CALENDAR ENDS HERE ================== %>
        <%# ================== TO-DO LIST STARTS HERE ================== %>
        <div class="h-auto p-4 py-2 mb-4 bg-white rounded shadow border-top border-primary border-5">
          <h2>To-do list</h2>
          <hr class="m-0 mb-2">
          <div>
            <ul class="p-1">
              <% @tasks.each do |task| %>
                <div class="d-flex justify-content-between" data-controller="todo-list">
                  <div>
                    <%= simple_form_for(task,
                      data: {
                        todo_list_target: "form",
                        action: "change->todo-list#markComplete"
                      }) do |f| %>
                      <%= f.input :completed,
                          label: task.title,
                          input_html: {
                            class: "check-box",
                            data: {
                              todo_list_target: "checkbox"
                            }
                          }  %>
                    <% end %>
                  </div>
                  <div>
                    <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, task_path(task), data: {turbo_method: :delete}, class: "trash-icon" %>
                  </div>
                </div>
              <% end %>
            </ul>
            <%= simple_form_for(@task,
              data: {
                todo_list_target: "input",
                action: "change->todo-list#addTask"
              }) do |f| %>
            <div class="d-flex justify-content-end" data-controller="todo-list">
              <%= f.input :title, label: false, placeholder: "Add a task", wrapper_html: { class: "me-3 flex-grow-1" } %>
              <%= f.submit "Add Task", class: "btn-add-task btn btn-info btn-small text-danger border-danger", style: "height: fit-content" %>
            </div>
            <% end %>
          </div>
        </div>
        <%# ================== TO-DO LIST ENDS HERE ================== %>
      </div>
      <%# ================== RIGHT SECTION ENDS HERE ================== %>
    </div>
  </div>
</div>
<%# ================== END OF CALENDER ================== %>
