<%# ================== START OF CALENDER ================== %>
<div class="container">
  <%= month_calendar(events: @events) do |date, events| %>
    <%= date %>
    <% events.each do |e| %>
      <div class="event">
        <small><%= e.programme.name %> @ <%= e.programme.university %></small> <br>
        <p><%= e.header %></p>
      </div>
    <% end %>
  <% end %>
</div>
<%# ================== END OF CALENDER ================== %>
<div class="container">
  <ul>
    <% @tasks.each do |task| %>
      <li><%= task.title %></li>
    <% end %>
  </ul>
  <%= simple_form_for(@task) do |f| %>
    <%= f.input :title %>
    <%= f.submit "Add Task", class: "btn btn-info rounded-pill text-danger border-danger col-12" %>
  <% end %>
</div>
