<%# ================== START OF CALENDER ================== %>
<div class="container">
  <%= month_calendar(events: @events) do |date, events| %>
    <%= date.day %>
    <% events.each do |e| %>
      <div class="event">
        <small><%= e.programme.name %> @ <%= e.programme.university %></small> <br>
        <p><%= e.header %></p>
      </div>
    <% end %>
  <% end %>
</div>
<%# ================== END OF CALENDER ================== %>
<%# ================== START OF TODO-LIST ================== %>
<div
  class="container mt-5"
>
  <h1>My tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <div data-controller="todo-list">
        <%= simple_form_for(task,
          data: {
            todo_list_target: "form",
            action: "change->todo-list#markComplete"
          }) do |f| %>
          <%= f.input :completed,
              label: task.title,
              input_html: {
                class: "check-box",
                data: {
                  todo_list_target: "input"
                }
              }  %>
          <%# <%= f.submit "mark as completed" %>
        <% end %>
        <%= link_to "Delete", task_path(task), data: {turbo_method: :delete}, class: "delete-btn btn btn-sm btn-danger" %>
      </div>
    <% end %>
  </ul>
  <%= simple_form_for(@task) do |f| %>
    <%= f.input :title, label: false %>
    <%= f.submit "Add Task", class: "btn btn-info rounded-pill text-danger border-danger col-12" %>
  <% end %>
</div>
<%# ================== END OF TODO-LIST ================== %>
