<%# ================== START OF CALENDER ================== %>
<div class="container">
  <%= month_calendar(events: @events) do |date, events| %>
    <%= date.day %>
    <% events.each do |e| %>
      <div class="event">
        <small><%= e.programme.name %> @ <%= e.programme.university %></small> <br>
        <p><%= e.header %></p>
      </div>
    <% end %>
  <% end %>
</div>
<%# ================== END OF CALENDER ================== %>
<%# ================== START OF TODO-LIST ================== %>
<div class="container mt-5">
  <h1>My tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li><%= task.title %>
        <p><strong><%= task.completed %></strong></p>
        <%= simple_form_for(task) do |f| %>
          <%= f.input :completed, input_html: { class: "check-box" } %>
          <%# <%= f.submit "mark as completed" %>
        <% end %>
        <%= link_to "Delete", task_path(task), data: {turbo_method: :delete}, class: "delete-btn btn btn-sm btn-danger" %>
      <% end %>
    </ul>
    <%= simple_form_for(@task) do |f| %>
      <%= f.input :title, label: false %>
      <%= f.submit "Add Task", class: "btn btn-info rounded-pill text-danger border-danger col-12" %>
    <% end %>
  </div>
  <%= form_with model: @task do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :details %>
      <%= f.text_area :details, class: 'form-control' %>
    </div>
  <% end %>
  <%# ================== END OF TODO-LIST ================== %>
