<%# ================== START OF CALENDER ================== %>
<div class="container">
  <%= month_calendar(events: @events) do |date, events| %>
    <%= date.day %>
    <% events.each do |e| %>
      <div class="event">
        <small><%= e.programme.name %> @ <%= e.programme.university %></small> <br>
        <p><%= e.header %></p>
      </div>
    <% end %>
  <% end %>
</div>
<%# ================== END OF CALENDER ================== %>
<%# ================== START OF TODO-LIST ================== %>
<div class="container mt-5">
  <h1>My tasks</h1>
  <ul id="tasks">
    <% @tasks.each do |task| %>
      <li>
        <% if task.completed? %>
          <i class="fa-regular fa-square-check"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>
        <%= link_to task.title, task_path(task.id) %>
        <%= link_to task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Delete #{task.title}?"} do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
  <hr>
  <%= link_to root_path do %>
    <i class="fa-solid fa-plus"></i> Add a new task
  <% end %>
</div>
<%= form_with model: @task do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: 'form-control' %>
  </div>
  <% unless f.object.new_record? %>
    <div class="checkbox">
      <label>
        <%= f.check_box :completed %> Completed
      </label>
    </div>
  <% end %>
  <%= f.submit class: 'btn btn-primary mt-3' %>
<% end %>
<%# ================== END OF TODO-LIST ================== %>
