<%# ================== START OF MONTH CALENDER ================== %>
<%= month_calendar do |date| %>
  <%= date %>
<% end %>
<%# ================== END OF  MONTH CALENDER ================== %>
<%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
  <%= date %>
  <% meetings.each do |meeting| %>
    <div class="meeting">  <-- We will add some style to the meeting class later so let's add it now -->
        <p><%= meeting.name %></p>
      </div>
    <% end %>
  <% end %>
